@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Armata', sans-serif;
}
:root{
  --body-color: #fff;
  --primary-color: #ff002b;
  --text-color: #000;
}
body {
  width: 100%;
}
